@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');      

:root{
    --bgcolor-page: #5f4b8b; 
    --bgcolor-page2: #5f4b8b85; 
    --bgcolor-1: #ffff;
    --bgcolor-2: #20272e;
    --color-1: #ab49cc;
    --color-1-t: #ab49cc70;
    --color-2:#ba9ce4;
    --color-3:#81de76;
    --color-4:#d1c4ff;
    --text-color-1: #000;
    --text-color-2: #616161;
    --text-color-3:#fff;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.contenedor_header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--bgcolor-1);
}

.header_logo{
    align-items: center;
    flex-basis: 60%;
}

.logo{
    width: 15%;
    margin-left: 1rem;
}

.contenedor_nav{
    display: flex;
}

.contenedor_nav nav ul{
    display: flex;
    list-style-type: none;
}

.contenedor_nav a{
    color: var(--text-color-1);
    text-decoration: none;
    margin-right: .8rem;
}

.contenedor_nav .fa-solid{
    margin-right: .5rem;
}

#menu, #menu-check{
    display: none;
}

.boton-principal {
    background-color: var(--bgcolor-page);
    color: var(--bgcolor-1);
    border: 3px solid var(--color-1);
    border-radius: 5em;
    font-weight: bold;
    font-size: 1.4em;
    padding: .5em 1.1em;
    display: inline-block;
}

.boton-principal:hover {
    color: var(--color-1);
    background: var(--bgcolor-1);
}

.boton-invertido {
    color: var(--bgcolor-page);
    background-color: var(--bgcolor-1);
    border: 3px solid var(--color-1);
    border-radius: 5em;
    font-weight: bold;
    padding: .2em 0.8em;
}

.boton-invertido:hover {
    background: var(--color-1);
    color: var(--bgcolor-1);
}

.contenedor_pagina{
    display: flex;
    flex-direction: column;
}

.inicio{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/sources/imagen1.jpg);
    background-size: cover;
}

.pantalla_inicio{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bgcolor-page2);
    width: 60%;
    height: 60%;
    font-size: 1.5rem;
    color: var(--text-color-3);
    border-radius: 1rem;
}

.pantalla_inicio h1, p{
    filter: drop-shadow(1px 1px 3px rgb(49, 48, 48));
}

.eslogan_item1{
    position: absolute;
    top: 2.5%;
    left: 34%;
    animation: roll 4s ease 1s infinite backwards;
}

.eslogan_item2{
    position: absolute;
    top: 2.5%;
    left: 38%;
    animation: roll 4s ease 3s infinite backwards;
}

.boton-principal{
    text-decoration: none;
}

.productos{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--bgcolor-page);
}

.search_container{
    justify-self: center;
    margin: 1.2rem;
    padding: .5rem 2rem;
    background-color: var(--color-2);
    border-radius: 1rem;
    text-align: center;
    background: var(--color-2);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.contenedor_productos{
    display: flex;
    width: 100%;
    height: 100%;
}

#ordenar{
    border: 2.5px solid var(--color-1);
}

#barra_busqueda{
    margin-left: .6em;
    margin-right: .6em;
    box-sizing: border-box;
    border: none;
    border-bottom: 2.5px solid var(--color-1);
}

#btn_busqueda{
    color: var(--text-color-3);
    border: none;
    border-radius: 50%;
    padding: .3em;
    background: var(--color-1);
}

.tarjeta_producto{
    background: white;
    text-align: center;
    width: 12rem;
    height: 18rem;
    border-radius: .5rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.tarjeta_producto img{
    width: 8em;
    height: auto;
}

.tarjeta_producto p, h5{
    filter: none;
    color: var(--text-color-2);
}

.nombre_producto{
    margin-bottom: .5em;
}

.marca{
    margin: 0%;
    padding: 0;
}

.btn_agregar{
    border: none;
    color: var(--text-color-3);
    background-color: var(--bgcolor-page);
    padding: .3em .6em;
    border-radius: .45em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn_agregar:hover{
    padding: .5em .8em;
    cursor: pointer;
    background-color: var(--color-2);
    box-shadow: none
}

.resenas{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 10rem .9rem;
    box-sizing: border-box;
    background: var(--color-2);
}

.resenas ul{
    display: flex;
    place-content: space-between;
    margin: 0.2em 0 0.3em 0;
    padding: 0;
    list-style-type: none;
}

.resenas ul li {
    margin: 0 1.5rem;
    text-align: center;
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    background: var(--color-4);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.resenas ul li img {
    width: 5rem;
    height: 5rem;
    margin-top: -15rem;
    border: 5px solid var(--color-3);
    border-radius: 50%;
}

.contactanos{
    display: flex;
    justify-content: space-between;
    background: var(--color-4);
}

.input_contacto{
    box-sizing: border-box;
    padding: 8rem;
    flex-basis: 50%;
}

.iframe_ubicacion{
    flex-basis: 50%;
}
.contactanos input, .contactanos textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 00.3em;
    box-sizing: border-box;
}

.contacto{
    opacity: 0;
}

.contactanos iframe {
    height: 100%;
    width: 100%;
}

.footer_container{
    background: var(--color-3);
    padding: 1rem;
    text-align: center;
}

.footer_container ul{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer_container a{
    color: var(--text-color-1);
    text-decoration: none;
    margin-right: 2rem;
}

.footer_container .fa-brands{
    margin-right: .4rem;
}

@media only screen and (min-width: 700px) and (max-width: 900px){

    .contenedor_pagina{
        flex-direction: column;
    }

    .contenedor_header{
        font-size: .8rem;
    }

    .contenedor_nav ul{
        padding: 0;
    }

    .header_logo{
        flex-basis: 25%;
    }

    .logo{
        height: 1.8rem;
        width: auto;
    }

    .pantalla_inicio{
        font-size: 1.4rem;
    }

    .eslogan_item1{
        top: 2%;
        left: 20%;
    }
    
    .eslogan_item2{
        top: 2%;
        left: 30%;
    }

    .resenas{
        height: auto;
        box-sizing: border-box;
        padding: 0;
    }

    .resenas ul{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .resenas ul li{
        box-sizing: border-box;
        width: 75%;
        margin: 4rem;
    }

    .input_contacto{
        padding: 2rem;
    }
}

@media only screen and (max-width: 700px) {

    .contenedor_pagina{
        flex-direction: column;
    }

    header div.contenedor_header {
        display: flex;
        height: 8vh;
    }

    header div.contenedor_header ul {
        display: none;
    }

    .contenedor_nav{
        flex-basis: 15%;
    }

    .header_logo{
        width: 100%;
    }

    .logo{
        height: 1.6rem;
        width: auto;
    }

    header div.contenedor_header nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: var(--bgcolor-2);
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: var(--bgcolor-3);
        font-size: 1,4em;

    }

    header div.contenedor_header nav ul a {
        color: var(--text-color-3);
        background: none;
    }

    header div.contenedor_header nav ul, header div.contenedor_header nav ul li {
        display: block;
        text-align: right;
    }

    header div.contenedor_header nav .boton-invertido {
        border: 0;
        border-radius: 0;
    }

    header div.contenedor_header nav .boton-invertido:hover {
        background:none;
        color: var(--text-color-3);
    }

    .fa-solid{
        font-size: .8em;
    }

    #servicios ul li {
        width: 50%;
    }

    .pantalla_inicio{
        font-size: 1rem;
        width: 85%;
    }

    .eslogan_item1{
        top: 8%;
        left: 28%;
    }
    
    .eslogan_item2{
        top: 8%;
        left: 32%;
    }

    .contenedor_productos{
        flex-direction: column;
        align-items: center;
    }

    .productos{
        height: auto;
    }

    .resenas{
        height: auto;
        box-sizing: border-box;
        padding: 0;
    }

    .resenas ul{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .resenas ul li{
        box-sizing: border-box;
        width: 75%;
        margin: 4rem;
    }

    .contactanos{
        flex-direction: column;
        align-items: center;
    }

    .input_contacto{
        padding: 2rem;
    }

    .footer_container{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 700px) {

    #menu-check:not(:checked) ~ nav {
        display: none;   
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: var(--color-1);
        background-color: var(--bgcolor-1);
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid var(--color-1);
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
    }

    #menu:hover {
        color: var(--text-color-3);
        background: var(--color-1);
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }
}

@keyframes roll{
    0%{
        opacity: 0;
        transform: translate3d(0, -70%, 0);
    }
    2.5%, 25%{
        opacity: 1;
        transform: translateZ(0);
    }
    27.5%, 100%{
        opacity: 0;
        transform: translate3d(0, 70%, 0);
    }
}