@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');      

:root{
    --bgcolor-page: #5f4b8b; 
    --bgcolor-page2: #5f4b8b85; 
    --bgcolor-1: #ffff;
    --bgcolor-2: #20272e;
    --color-1: #ab49cc;
    --color-2:#ba9ce4;
    --color-3:#81de76;
    --color-4:#d1c4ff;
    --text-color-1: #000;
    --text-color-2: #616161;
    --text-color-3:#fff;
}

body{
    font-family: 'poppins', sans-serif;
    background: var(--bgcolor-page);
    color:var(--text-color-1);
    box-sizing: border-box;
}

header{
    background: var(--bgcolor-1);
}

header img{
    width: 15%;
    height: 15%;
}

div.contenedor_header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .8em;
}

.contenedor_nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: auto 0;
    justify-self: flex-end;
}

header ul{
    display: flex;
    list-style: none;
    margin: 0;
}

header li{
    margin: 0 1em;
}

.fa-solid{
    margin-right: .5em;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    background-image: url(/sources/imagen1.jpg);
    background-size: cover;
}

main div.contenedor{
    background: var(--bgcolor-page2);
    height: 60%;
    border-radius: .8em;
    text-align: center;
}

.pantalla_inicio h1, p{
    filter: drop-shadow(1px 1px 3px rgb(49, 48, 48));
    color: var(--text-color-3);
}

p.eslogan {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
}

#reseñas {
    background:var(--color-2);
    color: var(--text-color-1);
}

#reseñas li {
    background: var(--color-4);
}

#contactanos {
    background: var(--color-4);
}

footer{
    background: var(--color-3);
    color: var(--text-color-3);
}

footer ul {
    margin-bottom: 0;
}

a {
    color: var(--text-color-1);
    text-decoration: none;
}

a.intro{
    font-weight: bold;
}

h1, h2 {
    font-size: 3em
}

.boton-principal {
    background-color: var(--bgcolor-page);
    color: var(--bgcolor-1);
    border: 3px solid var(--color-1);
    border-radius: 5em;
    font-weight: bold;
    font-size: 1.4em;
    padding: .5em 1.1em;
    display: inline-block;
}

.boton-principal:hover {
    color: var(--color-1);
    background: var(--bgcolor-1);
}

.boton-invertido {
    color: var(--bgcolor-page);
    background-color: var(--bgcolor-1);
    border: 3px solid var(--color-1);
    border-radius: 5em;
    font-weight: bold;
    padding: .2em 0.8em;
}

.boton-invertido:hover {
    background: var(--color-1);
    color: var(--bgcolor-1);
}

#reseñas ul, footer ul{
    display: flex;
    place-content: space-between;
    margin: 0.2em 0 0.3em 0;
    padding: 0;
    list-style-type: none;
}

#reseñas, footer {
    padding: 1em;
}

#reseñas li img {
    width: 5em;
    height: 5em;
}

#reseñas {
    padding-top: 10em;
    padding-bottom: 10em;
}

#reseñas ul li {
    margin: 0 1em;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    border-radius: 1em;
}

#reseñas ul li img {
    border: 5px solid var(--color-3);
    border-radius: 50%;
    margin-top: -15em;
}

#contactanos{
    position: relative;
    padding-top: 10em;
    padding-bottom: 14em;
}

#contactanos h2 {
    font-size: 2em;
}

#contactanos label {
    display: block;
    font: 1.2em;
    margin-bottom: 0.5em;
}

#contactanos input, #contactanos textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 00.3em;
    box-sizing: border-box;
}

#contactanos button{
    cursor: pointer;
}

#contactanos div.contenedor div{
    width: 45%;
}

#contactanos iframe {
    position: absolute;
    right: 0;
    top: 0%;
    width: 45%;
    height: 100%;
}

footer ul {
    place-content: space-evenly;
}

#contactanos div.contenedor {
    display: flex;
    justify-content: space-evenly;
}

div.contenedor {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.search_container{
    justify-self: center;
    margin: 2em;
    background-color: var(--color-2);
    padding: 1em 2em;
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#ordenar{
    border: 2.5px solid var(--color-1);
}

#barra_busqueda{
    margin-left: .6em;
    margin-right: .6em;
    box-sizing: border-box;
    border: none;
    border-bottom: 2.5px solid var(--color-1);
}

#btn_busqueda{
    color: var(--text-color-3);
    border: none;
    border-radius: 50%;
    padding: .3em;
    background: var(--color-1);
}

.contenedor_productos{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bgcolor-page);
    flex-wrap: nowrap;
    padding: 2em;
}

.tarjeta_producto{
    background: white;
    text-align: center;
    width: 12em;
    height: 18em;
    border-radius: .5em;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tarjeta_producto img{
    width: 8em;
    height: auto;
}

.tarjeta_producto p{
    filter: none;
    color: var(--text-color-2);
}

.btn_agregar{
    border: none;
    color: var(--text-color-3);
    background-color: var(--bgcolor-page);
    padding: .3em .6em;
    border-radius: 1em;
}

.btn_agregar:hover{
    padding: .5em .8em;
    cursor: pointer;
    background-color: var(--color-2);
}

@media only screen and (max-width:900px) {

    header div.contenedor_header ul li {
        display: inline;
    }

    h1{
        font-size: 4em;
    }

    #reseñas{
        font-size: 1.5em;
    }

    main, #reseñas, #contactanos {
        box-sizing: border-box;
        padding: 3em 1em;
    }

    #reseñas div.contenedor ul{
        display: block;
    }

    #reseñas div.contenedor ul li {
        display: block;
        margin: 4em auto 0 auto;
    }

    #contactanos div.contenedor {
        display: block;
    }

    #contactanos div.contenedor div{
        width: 100%;
    }

    #contactanos div.contenedor iframe {
        position: relative;
        width: 100%;
        height: 400px;
        margin-top: 2em;
    }

    header img{
        height: 15%;
        width: 15%;
    }

    .contenedor_productos{
        flex-direction: column;
        align-items: center;
    }

    .search_container{
        text-align: center;
    }

    #barra_busqueda{
        margin-top: .6em;
    }
}

@media only screen and (max-width: 900px) {
    header div.contenedor_header, header div.contenedor_header ul, header div.contenedor_header ul li {
        display: flex
    }

    header div.contenedor_header nav {
        width: 100%;
        display: inline;
    }

    header li{
        margin: 0 .6em;
    }

    div.contenedor{
        text-align: center;
    }

    .fa-solid{
        font-size: .8em;
    }
}

@media only screen and (max-width: 700px) {
    header div.contenedor_header ul {
        display: none;
    }

    .contenedor_nav{
        flex-basis: 15%;
    }

    .header_logo{
        width: 45%;
        height: 85%;
    }
}

header div.contenedor_header nav{
    display: flex;
}

#menu, #menu-check{
    display: none;
}

@media only screen and (max-width: 700px) {

    header div.contenedor_header {
        display: flex;
        justify-content: space-between;
        height: 8vh;
    }

    #reseñas{
        font-size: 1em;
    }

    h1{
        font-size: 2.5em;
    }

    footer{
        font-size: .8em;
    }

    #menu-check:not(:checked) ~ nav {
        display: none;   
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: var(--color-1);
        background-color: var(--bgcolor-1);
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid var(--color-1);
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;

    }

    #menu:hover {
        color: var(--text-color-3);
        background: var(--color-1);
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    header div.contenedor_header nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: var(--bgcolor-2);
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: var(--bgcolor-3);
        font-size: 1,4em;

    }

    header div.contenedor_header nav ul a {
        color: var(--text-color-3);
        background: none;
    }

    header div.contenedor_header nav ul, header div.contenedor_header nav ul li {
        display: block;
        text-align: right;
    }

    header div.contenedor_header nav .boton-invertido {
        border: 0;
        border-radius: 0;
    }

    header div.contenedor_header nav .boton-invertido:hover {
        background:none;
        color: var(--text-color-3);
    }

    .fa-solid{
        font-size: .8em;
    }

    main{
        text-align: center;
    }

    #servicios ul li {
        width: 50%;
    }
}

#contacta {
    opacity: 0;
}
